[user]
	name = Jason McClellen
	email = Jason McClellen
	email = jmcclellen@gmail.com
[alias]
	s = status
	c = commit
	mt = mergetool
	dt = difftool
	l1 = log -1
	a = add
	aa = add -a
[merge]
	tool = kdiff3
	tool = meld
